.container {
  max-width: 400px;
}

.container .mat-form-field+.mat-form-field {
  margin-left: 8px;
  max-width: 90%;
}

mat-form-field {
  margin-left: 8px;
  width: 90%;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}