.card {
    max-width: 400px;
    margin-left: 50px;
    margin-top: 20px;
}

.card-bottom {
    max-width: 400px;
    margin-left: 50px;
    margin-top: 50px;
}

.go-back {
    margin-top: 5px;
    margin-left: 5px;

    button:hover {
        background-color: #E91E63
    }
}