<div class="go-back">
	<button mat-mini-fab color="primary" (click)="goBack()">
		<mat-icon>arrow_back</mat-icon>
	</button>
</div>
<div *ngIf="student">
	<mat-card class="card">
		<mat-card-header>
			<mat-card-title>General information</mat-card-title>
			<mat-card-subtitle>{{student.firstName}} {{student.lastName}}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p><b>Index number: </b>{{student.id}}</p>
			<p><b>Full name: </b>{{student.firstName}} {{student.lastName}}</p>
			<p><b>City:</b> {{student.city.cityName}}, {{student.postalCode}}</p>
		</mat-card-content>
	</mat-card>
	<mat-card class="card-bottom">
		<mat-card-header>
			<mat-card-title>Additional information</mat-card-title>
			<mat-card-subtitle>Detailed student information</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p><b>Email address: </b>{{student.email}}</p>
			<p><b>Index year:</b> {{student.indexYear}}</p>
			<p><b>Year of study:</b> {{student.currentYearOfStudy}}</p>
			<p><b>Occupation:</b> {{student.role.name | titlecase}} </p>
			<p><b>Subjects:</b></p>
			<mat-chip-list aria-label="Subjects">
				<mat-chip *ngFor="let subject of student.subjects">{{subject}}</mat-chip>
			</mat-chip-list>
		</mat-card-content>
	</mat-card>
</div>
<div *ngIf="!student">
	{{statusMessage}}
</div>